body{
  height: 100%;
  width: 100%;
}

.navbarcoustom{
  height: 98px;
  background-color: #6165ea;
}

.navbartext{
  color: white;
}

.logo{
    height: 90px;
    margin-right: 25px;
}


.background{
  background-image: url(Img/footer_backround.png);
  height: 90vh;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.slogan{
    text-align: center;
    color: #6165ea;
}

.logo-tamaño{
  margin-left: 40px;
}

.button-color{
    color: white ;
    background-color: black;
}

.middle-buttons{
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  justify-content: space-between;
}

#button-google{
  margin-right: 100px;
  height: 104px;
  width: 345px;
}

#button-apple{
  margin-left: 100px;
  height: 104px;
  width: 345px;
}

.ñora{
  display: flex;
  justify-content: center;
}

.tamaño-ñora{
  height: 425px;
  width: 332px;
  margin-right: 1655px;
}

/* Estilos del footer */


.juntar{
  margin-top: 40px;
}

.allfooter{
  color: white;
  display: flex;
  justify-content: space-around;
  background-color: #6165ea;
  border: 1px darkblue solid;
  padding-top: 50px;

}

.buttom{
  display: flex;
  flex-direction: column;
 
}

.button-color{
  background-color: #30BF91;
  width: 129px;
  border: 1px solid #30BF91;
}

.space{
  margin-top: 10px;
}

.img-redes{
  display: flex;
  justify-content: space-around;
}

.spacefooter{
  display: flex;
  align-items: flex-end;
}

.cards_comercio{
  margin-top: 110px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner_green{
  background-color: #30BF91;
  color: white;
  text-align: center;
  padding: 60px;
}

.banner_purple{
  background-color: #6165ea;
  color: white;
  text-align: center;
  padding: 60px;
}

/* Estilos del mapa */


.map{
  height: 500px;
  width: 500pxs;
}


.casosexito .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.casosexito h2 {
  font-weight: 400;
}
.casosexito .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.fiximage{
  height: 289px;
  width: 287px;
}

.cards{
  display: flex;
  justify-content: space-around;
}

.card{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
}