body{
  height: 100%;
  width: 100%;
}

.navbarcoustom{
  height: 98px;
  background-color: #6165ea;
}

.navbartext{
  color: white;
}

.logo{
    height: 90px;
    margin-right: 25px;
}


.background{
  background-image: url(Img/footer_backround.png);
  height: 90vh;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.slogan{
    text-align: center;
    color: #6165ea;
}

.logo-tamaño{
  margin-left: 40px;
}

.button-color{
    color: white ;
    background-color: black;
}

.middle-buttons{
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  justify-content: space-between;
}

#button-google{
  margin-right: 100px;
  height: 104px;
  width: 345px;
}

#button-apple{
  margin-left: 100px;
  height: 104px;
  width: 345px;
}

.ñora{
  display: flex;
  justify-content: center;
}

.tamaño-ñora{
  height: 425px;
  width: 332px;
  margin-right: 1655px;
}